---

 const path =  Astro.url.pathname

   const navLinks = [
    {
      label: "Home",
      href: `${import.meta.env.BASE_URL}/`,
    },
    
    {
      label: "Projects",
      href: `${import.meta.env.BASE_URL}/projects`,
    },
    {
      label: "Donate",
      href: `${import.meta.env.BASE_URL}/donate`,
    },
    
    {
      label: "Research",
      href: `${import.meta.env.BASE_URL}/research`,
    },
    {
      label: "Reports",
      href: `${import.meta.env.BASE_URL}/reports`,
    },

    {
      label: "About us",
      href: `${import.meta.env.BASE_URL}/about-us`,
    },

    {
      label: "Team",
      href: `${import.meta.env.BASE_URL}/team`,
    },

    {
      label: "Contact",
      href: `${import.meta.env.BASE_URL}/contact-us`,
    },
  ];
---

<footer class="bg-sky-600 text-white py-8">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
            {/* ISIR Address */}
            <div class='space-y-3'>
                <h3 class="text-lg font-bold mb-4">ISIR Ghana</h3>
                <p class="text-white text-sm leading-relaxed">
                  L536 Dohinayili<br />
                  Tamale, Northern Region 00233, Ghana<br />
                  <span class="block mt-1 font-semibold text-[#B2D4EE]">
                    Digital Address: NT-0059-5182
                  </span>
                </p>

                  {/* Social Media Links */}
                <div>
                    <h3 class="text-lg font-bold mb-4">Follow Us</h3>
                    <div class="flex items-center space-x-4">
                      
                        {/* LinkedIn */}
                    <a href="https://www.linkedin.com/company/institute-for-sustainable-and-innovative-research" target='_blank' class="text-white hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
                    </a>
                    
                      {/* Facebook */}
                    <a href="https://www.facebook.com/profile.php?id=100094868111371" target='_blank' class="text-white hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
                    </a>
                    
                      {/* Instagram */}
                    <a href="https://www.instagram.com/isir.ghana" target='_blank' class="text-white hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                    </a>
                    
                      {/* YouTube */}
                    <a href="https://www.youtube.com/@isirghana" target='_blank' class="text-white hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
                    </a>

                      {/* Whatsapp */}
                    <a href="https://whatsapp.com/channel/0029VbB0ArIJ93wNwkSs5P3Z" target='_blank' class="text-white hover:text-white">
                        <svg  viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/></svg>
                    </a>
                    </div>
                </div>
            </div>

            {/* Resources */}
            <div>
                <h3 class="text-lg font-bold mb-4">Resources</h3>
                <ul class="  text-white">
                  {navLinks.slice(0,5).map((link) =>(
                    <li><a href={link.href} class={`hover:underlin ${link.href === path ? ' underline decoration-sky-800' : ''}`}>{link.label}</a></li>
                  ))}
                </ul>
            </div>

            {/* Resources */}
            <div>
                <h3 class="text-lg font-bold mb-4">Organization</h3>
                <ul class="  text-white">
                  {navLinks.slice(5,8).map((link) =>(
                    <li><a href={link.href} class={`hover:underlin ${link.href === path ? ' underline decoration-sky-800' : ''}`}>{link.label}</a></li>
                  ))}
                </ul>
            </div>

            {/* Donor Acknowledgment Policy */}
            <div>
                <h3 class="text-lg font-bold mb-4">Policy</h3>
                <a href="#" class="text-white hover:text-white">Donor Acknowledgment Policy</a>
            </div>
        </div>

        <div class="mt-8 border-t border-gray-700 pt-4 text-center text-white">
          <p>Copyright &copy; 2025 ISIR Ghana. All rights reserved.</p>
        </div>
      </div>
    </footer>
