---

const {
	title = "Home",
	description = "We are a trusted health consulting firm dedicated to improving the quality, safety, and accountability of healthcare.",
	url = "http://www.example.com/",
	image = "https://www.example.com/_astro/seo-banner.BZD7kegZ.webp",
	imageAlt = "",
	siteName="ISIR Ghana",
	...props
} = Astro.props;
---

<link rel="sitemap" href="/sitemap-index.xml">
<title> ISIR Ghana| {title}</title>
<meta name="description" content={description}>


<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image}>
<meta property="og:image:alt" content={imageAlt}>
<meta property="og:site_name" content={siteName} />


<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
